.App {
  display: flex;
  align-items: center;
  height: 95vh;
}

.square {
  padding-top: 100%;
  border: 1px solid;
  background-color: #EFEFEF;
}

.active { 
  background-color: #FFFFF6;
}

.row-field {
  display: flex;
  padding: 0 2%;
}

.lit {
  background-color: #D0D765;
}

.checked {
  background-color: #276B68;
}

.unchecked {
  background-color: #696D32;
}

.squareHolder {
  flex-grow: 1;
}

.main {
  width: 85vh;
  padding: 0 1%;
}

.info {
  flex-grow: 1;
}
