.square {
  padding-top: 100%;
  border: 1px solid;
  background-color: #EFEFEF;
}

.active { 
  background-color: #FFFFF6;
}

.lit {
  background-color: #D0D765;
}

.checked {
  background-color: #276B68;
}

.unchecked {
  background-color: #696D32;
}

.squareHolder {
  flex-grow: 1;
}

.main {
  max-width: 85vh;
}

.info {
  height: 85vh;
  flex-grow: 1;
}

.menu {
  max-width: 85vh;
}
